{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters" style="text-align: center;">
            <div class=" pt-5 px-2 pb-2 p-md-5 order-md-last" style="margin: 0 auto;">
                <h2 class="h4 mb-2 mb-md-5 font-weight-bold">Add product</h2>
                {{ wtf.quick_form(form) }}

     
    
            </div>
            
        </div>
    </div>
</section>

{% endblock %}