{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block body %}

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters" style="text-align: center;">
            <div class=" pt-5 px-2 pb-2 p-md-5 order-md-last" style="margin: 0 auto;">
                <h2 class="h4 mb-2 mb-md-5 font-weight-bold">Edit product</h2>

                    <form method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }} 
                            {{ form.product_name.label }} {{ form.product_name() }}
                            {{ form.category.label }} {{ form.category() }}
                            {{ form.description.label }} {{ form.description() }}
                            {{ form.price.label }} {{ form.price() }}

                            
                            {% set product_image = product.image %}
                            
                            
                            
                            {% if product.image != "" %}
                            <a href="/admin/delete-image/{{product.id}}">delete</a>
                            <div class="menu-img img"
                                style="width: 200px; height: 200px; background-image: url({{url_for('static',filename='uploads/' + product_image)}});">
                            </div>
                            {% else %}
                            {{ form.image.label }} {{ form.image}}
                            {% endif %}
                             

                            {{ form.submit() }}
                    </form>

            </div>

        </div>
    </div>
</section>


{% endblock %}