{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}

<div class="container">
{% for product in products %}
{% set product_image = product.image %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('static',filename='uploads/' + product_image)}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{product.product_name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <div>
        <span class="card-link">{{product.category}}</span><span class="card-link">{{product.price}}</span>
      </div>
      <div><a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete</a></div>
    </div>
</div>

{% endfor %}
</div>

{% endblock %}